{% extends "base.html" %}

{% block title %}About Us - Sonic's Risk Switch {% endblock %}
{% block about_active %}active{% endblock %}

{% block content %}
    <h5>Sonic Risk Watch is an advanced analytics platform providing insights into token security, performance, and risks.</h5>
<br>
<h5>It is built by AuditOne, a hybrid auditing platform offering smart contract audits, pen-tests and due diligence services.</h5>
<br>
<h5>Everyday users are victims to hacks and rug pulls. Therefore, it is crucial to highlight projects that take security and risk management seriously.</h5>
<br>
<h5>The agent will be equipped with more sources over time and more sophisticated risk analytics to support users in their investment & trading decisions in the Sonic ecosystem.</h5>
{% endblock %}
